## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Rikitea,PF,73.35,clear sky,-23.1203,-134.9692,People ThankYou
1,5,Kang,BW,77.20,clear sky,-23.6752,22.7876,Kang Ultra Stop
2,7,Hilo,US,80.33,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
3,10,Luanda,AO,78.33,broken clouds,-8.8368,13.2343,Hotel F처rum
4,11,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 째F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer1 = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer1)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Carlsbad"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Carlsbad"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Guerrero Negro"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Cabo San Lucas"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Acapulco"] 

print(f'Stop 1: {vacation_stop1}, Stop 2: {vacation_stop2}, Stop 3: {vacation_stop3}')

Stop 1:     City_ID            City Country  Max Temp Current Description      Lat  \
54      177  Guerrero Negro      MX     70.92     overcast clouds  27.9769

         Lng                    Hotel Name
54 -114.0611  Casa Laguna, Bed & Breakfast  , Stop 2:     City_ID            City Country  Max Temp Current Description      Lat  \
36      127  Cabo San Lucas      MX     87.51           clear sky  22.8909

         Lng              Hotel Name
36 -109.9124  Hotel Tesoro Los Cabos  , Stop 3:     City_ID      City Country  Max Temp Current Description      Lat      Lng  \
82      268  Acapulco      MX     85.82          few clouds  16.8634 -99.8901

                   Hotel Name
82  HS Hotsson Smart Acapulco

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end =  vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
coord_stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
coord_stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
coord_stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'start: {start},Stop 1: {coord_stop1}, Stop 2: {coord_stop2}, Stop 3: {coord_stop3},end: {end},')

start: (33.1581, -117.3506),Stop 1: (27.9769, -114.0611), Stop 2: (22.8909, -109.9124), Stop 3: (16.8634, -99.8901),end: (33.1581, -117.3506),

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[coord_stop1, coord_stop2, coord_stop3],
        travel_mode='DRIVING')
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#itinerary_df = pd.concat(["vacation_start","vacation_stop1","vacation_stop2","vacation_stop3"],ignore_index=True)
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,599,Carlsbad,US,77.65,haze,33.1581,-117.3506,Carlsbad Inn Beach Resort
1,177,Guerrero Negro,MX,70.92,overcast clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
2,127,Cabo San Lucas,MX,87.51,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
3,268,Acapulco,MX,85.82,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 째F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer1 = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer1)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))